<h1>Users</h1>
<%= link_to "All Users", :action => "index" %>
|
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
<table>
  <% @users.each do |user| %>
    <tr>
      
      <td>
        <%= user.email %>
      </td>
     
      <td>
        <%= user.approved %>
      </td>
      
      <td>
        <%= link_to "Edit", edit_user_registration_path(user) %>
      </td>
      
      <td>
        <%= link_to profiles.status, toggle_status_profile_path(user) %>
      </td>
      <td>
        <%= link_to profiles.active, toggle_active_profile_path(user) %>
      </td>
      
      <td>
        <%= link_to profiles.work, toggle_work_profile_path(user) %>
      </td>
    </tr>
  <% end %>
</table>
